@{
    ViewData["Title"] = "Compra caminhao";
}
@model Caminhao
<div class="text-center">
    <h1 class="display-4">Compra de caminhão</h1>
    
</div>
<div>
    <div class="text-center" >
    <h3> Realmente deseja comprar o carro  (@Model.Modelo) (@Model.DataCriacao)  </h3>
</div>
<a role="button" class="btn-block btn-secondary" asp-controller="NewViews" asp-action="Index" >Cancelar compra</a>
<a role="button" class="btn-block btn-danger" asp-route-id="@Model.Id" asp-controller="NewViews" asp-action="Apagar">Confirmar compra</a>
</div>