@{
    ViewData["Title"] = "Página Inicial";
}
@model IEnumerable<Caminhao>
<div class="text-center">
    <h1 class="display-4">Página Inicial</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-start" >
    <a class="btn btn-dark btn-block" asp-controller="NewViews" asp-action="Create" role="button" >Adicionar Novo Caminhão</a>
</div>
@*<div>
    <table>
    <thead>
        <tr>
            
            <th scope="col" >Nome</th>
            <th scope="col" >Descrição</th>
            <th scope="col" >Data de Criação</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
            {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Descricao</td>
            <td>@item.DataCriacao</td>

        </tr>
            }
    </tbody>
    </table>
</div>
*@
<div>
    Um usuário nos informou que necessita realizar um CRUD de caminhões. Após levantamento, temos a seguinte especificação técnica:

Precisaremos criar uma aplicação Web em C# do tipo ASP.NET Core Web App (Model-View-Controller) na versão 3.1 e sem autenticação;

A entidade Caminhão terá os seguintes atributos:
- Identificação: número inteiro;
- Nome: string;
- Descrição: string;
- Data de Criação: Data e hora;

A tela inicial da aplicação deverá listar todos os caminhões cadastrados;
Os campos para serem apresentados na listagem de caminhões são:

Nome
Descrição
Data de Criação


Para cada caminhão da lista deve haver 3 botões:


Editar -> Deve direcionar o usuário para uma tela para editar os campos do caminhão selecionado;

Detalhes -> Deve direcionar o usuário para uma tela para uma tela para apresentar os detalhes do caminhão selecionado;

Excluir -> Deve direcionar o usuário para uma tela para uma tela com confirmação para que o usuário possa definir se realmente quer deletar o caminhão selecionado;


Ainda na tela inicial deve haver um botão para cadastrar um novo caminhão;
No menu principal da aplicação é necessário um item chamado Caminhões, onde direciona o usuário para a tela de listagem;
</div>