@{
    ViewData["Title"] = "Adiciona caminhão";
}
@model Caminhao
<div class="text-center">
    <h1 class="display-4">Adicionando Caminhão</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-controller="NewViews" asp-action="Create" method="post" >
  <div class="form-group">
    <label>Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome do caminhão">
    @Html.ValidationMessageFor(x => x.Nome)
  </div>
  <div class="form-group">
    <label>Descrição</label>
    <input type="text" asp-for="Descricao" class="form-control"  placeholder="Descreva o caminhão">
    @Html.ValidationMessageFor(x => x.Descricao)
  </div>
  <div class="form-group">
    <label>Data de Criação</label>
    <input type="text" asp-for="DataCriacao" class="form-control"  placeholder="Data de criação">
    @Html.ValidationMessageFor(x => x.DataCriacao)
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>